.location-main {
    display: flex;
}

.location-card {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px 0px rgba(208,208,208,0.50);
}

.location-card img {
    width: 100%;
}

.location-card h6 {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    margin: 10px 0;
    color: #555555;

}

.location-header {
    color: #59B5C7;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.location-card p {
    width: 90%;
    margin: 0 auto 10px;
}

.location-card button {
    background: #4BACC1;
    color: #FFF;
    width: 90%;
    margin: auto;
    padding: 15px;
    font-size: 16px;

}

@media(min-width: 800px) {
    .locations-main {
        flex-direction: row;
    }

    .location-card {
        padding-bottom: 20px;
    }

    .location-card img {
        height: 260px;
    }

    .location-header {
        margin-bottom: 20px;

    }

    .location-card h6 {
        margin: 20px 0;

    }

    .location-card p {
        height: 95px;

    }

    .location-card button {
      align-self: flex-end;

    }
}
